{
"Changes": [
{{ $idx := 0 }}
{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
{{ range $container := $containers }}
{{ if($idx)  }},{{ end }}
{{ $idx := $idx +1 }}
    {
        "Action": "UPSERT",
        "ResourceRecordSet": {
        "Name": "{{$host}}",
        "Type": "CNAME",
        "TTL": 300,
        "ResourceRecords": [
        {
        "Value": "{{$.Env.SELF_HOST}}"
        }
        ]
        }
    }
{{ end }}
{{ end }}
]
}
