{
"Changes": [
{{ $first := "true" }}
{{ $data := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
{{ range $host, $containers := $data }}
{{ range $container := $containers }}
{{ if eq $first "false"}},{{ end }}
    {
        "Action": "UPSERT",
        "ResourceRecordSet": {
        "Name": "{{$host}}",
        "Type": "CNAME",
        "TTL": 300,
        "ResourceRecords": [
        {
        "Value": "{{$.Env.SELF_HOST}}"
        }
        ]
        }
    }
{{ $first := "false" }}
{{ end }}
{{ end }}
]
}
